{
  "env": {
    "node": true
  },
  "extends": ["@highpoint", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
